<div class="container">
    <img id="testing" src="https://buffetoblog.files.wordpress.com/2010/09/big-burger.jpg" width="200px" height="200px" alt="Burger">
    
    <h1>Eat-Da-Burger!</h1>

<h2>Burgers Available to Eat</h2>
<ul>
              {{#each burgers}}
                {{#unless devoured}}
                    {{> burgers/burger-block devoured=false}}
                {{/unless}}
              {{/each}}

</ul>

<h2>Burgers Eaten!</h2>

<ul>
   <div>
              {{#each burgers}}
                {{#if devoured}}
                    {{> burgers/burger-block devoured=true}}
                {{/if}}
              {{/each}}
        </div>
</ul>


   
        <form id="submitForm" action="/burgers/create" method="POST">
                <input type="text" class="form-control" name="burger_name" id="burgerSub">
                <button type="submit" class="btn btn-primary" id="submitBtn">Submit</button>
            </form>
            <p>Enter a burger you want to eat, then click the "Submit" button!</p>
  



    
    
    
    
    
    
    
    




















</div>